@import url("https://fonts.googleapis.com/css?family=Raleway|Allura|Roboto|Cabin:700|Rosario");


@font-face {
	font-family: 'DSDIGI';
	src: url('./DSDIGI.eot');
	src: local('DSDIGI'), url('./DSDIGI.woff') format('woff'), url('./DSDIGI.ttf') format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************* CSS RESETS ENDS HERE ************************/

/******************* MY CSS STARTS HERE **************************/

body {
	background-color: #0d0020;
}

h1 {
	color: white;
	text-align: center;
	font-size: 70px;
	margin-top: 2%;
	font-family: Raleway;
	-webkit-user-select: none;
	-moz-user-select: none;
}

hr {
	display: block;
	margin-top: 2%;
	margin-bottom: -6%;
	width: 50%;
}

h1:hover{
	color: #F26964;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.container {
	width: 50%;
	height: auto;
	margin-top: 5%;
	//margin-left: auto;
	//margin-right: auto;
}

.inputArea {
	width: 100%;
	margin-top: 30px;
	padding-left: 35%;
}

#time {
	width:25%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	font-size: 35px;
	font-family: 'Cabin';
	font-weight: bolder;
	font-size:30px;
	text-align: center;
	color: #FFF2E7;
}

input[type="text"] {
	background-color: inherit;
	box-shadow: none;
	outline: none;
	border: 1px solid white;
	color:white !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 2.5px solid white;
	border-radius: 0.3em;
}

input:focus::-webkit-input-placeholder {
 	color:transparent;
 	font-weight: lighter;
}

input:focus:-moz-placeholder { 
	color:transparent;
 	font-weight: lighter;
}

input:focus::-moz-placeholder {
	color:transparent;
 	font-weight: lighter;
}

input:focus:-ms-input-placeholder {
	color:transparent;
 	font-weight: lighter;
}

#start {
	color: #ffffff;
	font-family: Raleway;
	display: block;
	margin: 0 auto;
	margin-top: 6%;
	width: auto;
	height: auto;
	font-size: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	background: transparent none repeat scroll 0% 0%;
	font-weight: bolder;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 3px solid white;
	border-radius: 0.2em;
	box-shadow: none;
	outline: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

#start:hover {
	background-color: #004687;
	color: #E9BC1B;
}
#minus {
	font-family: 'DSDIGI';
	text-align: center;
	padding-top: 4%;
	font-size: 350px;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#timer {
	font-family: 'DSDIGI';
	text-align: center;
	padding-top: 4%;
	font-size: 350px;
	color: white;
	position:absolute;
	width:100%;
	margin:0 auto;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#minus {
	color:red;
	display:none;
}
#point {
	-moz-animation: blink 1s ease infinite;
    -webkit-animation: blink 1s ease infinite;
}

/* Simple Animation */
@-webkit-keyframes blink {
	0% {
		opacity: 1.0;
  		text-shadow: 0 0 20px #00c6ff;
	}

	50% {
    	opacity: 0;
    	text-shadow: none;
	}

	100% {
    	opacity: 1.0;
    	text-shadow: 0 0 20px #00c6ff;
	};
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}

.icons {
	margin-top: 20px;
	text-align: center;
}

.fa {
	padding-left: 20px;
	margin-bottom: -15%;
}

.fa-twitter {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-twitter:hover {
	color: #55acee;
}

.fa-facebook-official {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-facebook-official:hover {
	color:#3b5998;
}

.fa-github {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-github:hover {
	color:#999;
}

.fa-google-plus {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-google-plus:hover {
	color:#dc4e41;
}

footer {
	height:auto;
	text-align: center;
	font-size: 30px;
	padding-top: 2%;
	font-family: 'Allura';
	font-weight: bold;
}

.heart {
	color: white;
	transition-property: all;
	transition-duration: 0.7s;
	transition-timing-function: ease-out;
}

.heart:hover {
	color: #B81D18;
}

a {
	text-decoration: none;
	color: #F8DC0B;
}

h3 {
	color: #F8DC0B;
}

.input {
	position:fixed;
	bottom:0;
	right:0;
	color:white;
}